.badbrowser
    background #FFF
    position fixed
    top 0
    left 0
    right 0
    bottom 0
    text-align center
    white-space nowrap
    overflow auto

    &_modal
        background rgba(0, 0, 0, 0.25)

        .badbrowser__content
            border 1px solid #ccc
            border-radius 3px
            background #fff
            padding 15px

    &__logo
        width 50%

    &__helper
        display inline-block
        height 100%
        vertical-align middle
        margin-right -0.25em

    &__content
        display inline-block
        vertical-align middle
        white-space normal

.oldbrowser__browserLink
    display inline-block
    width 60px
    height 66px
    margin 0 10px
    
    & img
        max-width: 100%
        display block