extends _partials/layout

block vars
    - var title = '@dvhb/badbrowser'

block extra_styles

    link(rel='stylesheet', type='text/css', href='https://cdnjs.cloudflare.com/ajax/libs/uikit/2.21.0/css/uikit.min.css')
    link(rel='stylesheet', type='text/css', href='https://cdnjs.cloudflare.com/ajax/libs/uikit/2.21.0/css/uikit.almost-flat.min.css')
    link(rel='stylesheet', type='text/css', href='https://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.6/styles/github.min.css')

    script(src='https://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.6/highlight.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.6/languages/javascript.min.js')

    style.
        html {
            background-color: #f7f7f7;
            margin-top: 30px;
        }

        article {
        }

        a {
            color: red;
        }

        a:hover {
        }


block content

    article.uk-width-7-10.uk-container-center
        h1 Bad Browser
        a.fork-link(href='https://github.com/dvhb/badbrowser')
            img(style='position: absolute; top: 0; right: 0; border: 0;', src='https://camo.githubusercontent.com/a6677b08c955af8400f44c6298f40e7d19cc5b2d/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f677261795f3664366436642e706e67', alt='Fork me on GitHub', data-canonical-src='https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png')
        // Place this tag where you want the button to render.
        a.github-button(href='https://github.com/dvhb/badbrowser', data-icon='octicon-star', data-count-href='/dvhb/badbrowser/stargazers', data-count-api='/repos/dvhb/badbrowser#stargazers_count', data-count-aria-label='# stargazers on GitHub', aria-label='Star dvhb/badbrowser on GitHub') Star
        // Place this tag where you want the button to render.
        a.github-button(href='https://github.com/dvhb/badbrowser/fork', data-icon='octicon-git-branch', data-count-href='/dvhb/badbrowser/network', data-count-api='/repos/dvhb/badbrowser#forks_count', data-count-aria-label='# forks on GitHub', aria-label='Fork dvhb/badbrowser on GitHub') Fork
        // Place this tag where you want the button to render.
        a.github-button(href='https://github.com/dvhb/badbrowser/issues', data-icon='octicon-issue-opened', data-count-api='/repos/dvhb/badbrowser#open_issues_count', data-count-aria-label='# issues on GitHub', aria-label='Issue dvhb/badbrowser on GitHub') Issue
        // Place this tag right after the last button or just before your close body tag.
        script#github-bjs(async='', defer='', src='https://buttons.github.io/buttons.js')
        p
            | The library checks user's browser and then shows a warning if browser version doesn't fit minimal requirements.
            pre <code class="bash">npm i @dvhb/badbrowser</code>

            button.uk-button.uk-button-primary(onclick='badbrowser.init()') Demo (default)
            | &nbsp;
            button.uk-button.uk-button-primary(onclick='demoFull()') Demo (fullscreen)
            | &nbsp;
            button.uk-button.uk-button-primary(onclick='demoModal()') Demo (modal)
            | &nbsp;
            button.uk-button.uk-button-primary(onclick='demoLogo()') Demo (fullscreen + logo)
            | &nbsp;
            button.uk-button.uk-button-primary(onclick='demoCustomTemplate()') Demo (custom templates)

        p
            a(href='https://github.com/dvhb/badbrowser/blob/master/LICENSE') MIT License
            | &nbsp; © &nbsp;
            a(href='https://github.com/dvhb') dvhb
        p
            pre.
                <code class="javascript">
                import badbrowser from '@dvhb/badbrowser'

                badbrowser.init({
                    // path to your html alerts
                    // could be a function:
                    // function (ua) {
                    //   return '/alerts/' + lang + '.html'
                    // }
                    path: '/alerts/en.html',
                    // if `false` then user's choice will be saved in the cookies
                    // and alert window will not be showen next time
                    ignoreChoice: false,
                    // Min version of browser that will be supported
                    supported: {
                        // user of chrome v.39 will see an alert window
                        chrome: 42,
                        firefox: 38,
                        msie: 9,
                        opera: 26,
                        android: 10,
                        safari: 6,
                        // if `false`, will show alert for any mobile browser
                        mobile: false
                    }
                })</code>

    script.
        hljs.initHighlightingOnLoad();

        function demoFull() {
            badbrowser.init({
                // if `false` then user's choice will be saved in the cookies
                // and alert window will not be showen next time
                ignoreChoice: true,
                // if false alert will be shown in a modal window
                fullscreen: true,
                // Min version of browser that will be supported

                supported: {
                    // user of chrome v.39 will see an alert window
                    chrome: '100',
                    firefox: '100',
                    msie: '100',
                    opera: '100',
                    android: '100',
                    safari: '100',
                    // if `false`, will show alert for any mobile browser
                    mobile: false
                }
            })
        }
        function demoModal() {
            badbrowser.init({
                // if `false` then user's choice will be saved in the cookies
                // and alert window will not be showen next time
                ignoreChoice: true,
                // if false alert will be shown in a modal window
                fullscreen: false,
                // Min version of browser that will be supported
                supported: {
                    // user of chrome v.39 will see an alert window
                    chrome: '100',
                    firefox: '100',
                    msie: '100',
                    opera: '100',
                    android: '100',
                    safari: '100',
                    // if `false`, will show alert for any mobile browser
                    mobile: false
                }
            })
        }
        function demoLogo() {
            badbrowser.init({
                // if `false` then user's choice will be saved in the cookies
                // and alert window will not be showen next time
                ignoreChoice: true,
                // if false alert will be shown in a modal window
                fullscreen: true,
                logo: 'img/logo.svg',
                // Min version of browser that will be supported
                supported: {
                    // user of chrome v.39 will see an alert window
                    chrome: '100',
                    firefox: '100',
                    msie: '100',
                    opera: '100',
                    android: '100',
                    safari: '100',
                    // if `false`, will show alert for any mobile browser
                    mobile: false
                }
            })
        }

        function demoCustomTemplate() {
            badbrowser.init({
                path: 'alerts/en.html',
                // if `false` then user's choice will be saved in the cookies
                // and alert window will not be showen next time
                ignoreChoice: true,
                // Min version of browser that will be supported
                supported: {
                    // user of chrome v.39 will see an alert window
                    chrome: '100',
                    firefox: '100',
                    msie: '100',
                    opera: '100',
                    android: '100',
                    safari: '100',
                    // if `false`, will show alert for any mobile browser
                    mobile: false
                }
            })
        }
